services:
  - type: web
    name: knachsoft-backend
    runtime: node
    repo: https://github.com/adnnae/knachsoft
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    plan: free
    region: frankfurt
